.nav-item li {
    list-style: none;
    display: inline-block;
    font-weight: 600;
    text-align: center;
}
a {
    text-decoration: none;
    background-color: #056aef;
    color: #fff;
    display: inline-block;
    height: 1.75rem;
    min-width: 8rem;
    padding-top: 8px;
    border-radius: 5%;
    border: 1px solid #d2d2d2;
}
a:hover {
    background-color: #0666af;
}